<div
  class="masthead"
  style="background-image: url('../assets/coffee_images/contact.avif')"
>
  <div class="color_overlay d-flex justify-content-center align-items-center">
    <h1>Contact Us</h1>
  </div>
  
</div><br><br>

<div class="row contact_form">
    <div class="col-lg-6 col-sm-12" style="background-color: rgb(232, 225, 225); padding: 30px;">
        <span><b>Address  :</b> Bogyoke Street, Pakokku, Myanmar</span><br><br>
        <span><b>Phone No :</b> +95 9 789 787789</span>
    </div>
    <div class="col-lg-6 col-sm-12" style="background-color: rgb(232, 225, 225); padding: 30px;">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email*</label><br><br>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email address">
            </div><br>
            <div class="form-group">
              <label for="name">Name*</label><br><br>
              <input type="text" class="form-control" id="name" placeholder="Your name">
            </div><br>
            <div class="form-group">
              <label for="message">Message*</label><br><br>
              <input type="text" class="form-control" id="message" style="height: 100px;">
            </div><br>
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>
</div>
<br><br>

<footer class="text-white" style="background-color: #f1f1f1">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <!-- Grid container -->
        <div class="container pt-4 footer_div1">
          <h3 style="color: black; margin-left: 20px">THE MET</h3>
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fa-brands fa-facebook"></i
            ></a>
  
            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
  
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
      </div>
      <div class="col-lg-6 col-md-12 footer_div2">
        <a href="#">Payments &amp; Delivery</a><br>
        <a routerLink="/contact">Contact</a>
      </div>
    </div>
  </footer>