/* table {
    border: 1px solid #D07000;
    text-align: center;
    width: 900px;
    position: absolute;
    margin-left: 200px;
}
th {
    border: 1px solid #D07000;
}
tr {
    border: 1px solid #D07000;
    height: 50px;
}
td {
    border: 1px solid #D07000;
} */
table {
  margin: 20px;
}
th {
  text-align: left;
}
td {
  height: 50px;
  padding: 20px;
}

.tablebody:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px rgba(black, 0.068);
}
.tablebody:hover .trash {
  opacity: 1;
  transform: scale(1);

  transition-delay: 0.35s;
}
.trash {
  height: 35px;
  width: 35px;
  border-radius: 4px;
  text-align: center;
  color: red;

  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  transition-delay: 0.35s;
  /* trash is hidden by default */
  opacity: 0;
  transform: scale(0.35);
}
.trash:hover {
  background-color: rgb(241, 179, 179);
}
.trash:active {
  background-color: rgb(236, 130, 130);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
